.blob {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: auto;
}

.centered-div {
    text-align: center;
    margin-top: 15px;
}

.blob-button {
    background-color: #696969;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#scoreboard-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}